.drawer_leftContent_container {
	background-color: #ffffff;
	height: 100%;

	border-right: 1px solid #dee2e6;

	.drawerItemMainContainer {
		width: 100%;
		display: block;
		text-decoration: none;
		cursor: pointer;

		padding-left: 16px;
		padding-right: 16px;
		padding-top: 10px;
		padding-bottom: 10px;

		font-family: Mulish;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 23px;
		align-items: center;

		color: #808080;

		&.active {
			font-weight: bold;
			color: #0d6efd;
		}

		img {
			width: 18px;
			height: 18px;
			object-fit: contain;
			margin-right: 17px;
			padding-bottom: 1px;
		}
	}
}

.drawer_header_container {
	position: fixed;
	top: 0px;
	left: 0px;
	height: 56px;
	width: 100%;
    z-index: 1000;

	border-bottom: 1px solid #dee2e6;

	.homepageLink {
		padding-left: 16px;

		font-family: Mulish;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 56px;
		text-decoration: none;

		color: #0d6efd;
	}

	.textLogout {
		padding-left: 16px;
		padding-right: 16px;

		font-family: Mulish;
		font-style: normal;
		font-weight: bold;
		font-size: 14px;
		line-height: 56px;
		text-decoration: none;

		color: #000000;
		opacity: 0.7;
	}

	.iconOpenClose {
		height: 56px;
		width: 56px;
		object-fit: contain;
		padding: 10px;
	}
}
